<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aryav's Reading list</title>
    <meta name="description" content="Books by Priya Aryav">
    <link rel="icon" type="image/jpeg" href="../assets/new_me.jpg">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main class="container" id="books-page">
        <!-- Books Section -->
        <section class="section">
            <h2 class="section-title">Reading list</h2>
            <div class="section-text">
                <ul>
                    <li class="reading"><p title="currently reading">Inference Engineering <span class="reading">📖</span></p></li>
                    <li class="shelf"><p>You can win</p></li>
                    <li class="read"><p>Bhagwad Gita</p></li>
                    <li class="read"><p>Chanakya Niti</p></li>
                </ul>
            </div>
        </section>

        <footer>
            <p>&copy; 2026 Priya Aryav</p>
        </footer>
    </main>
</body>
</html>
